

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BMC - Accueil</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

<header>
    <h1>BMC</h1>
    <button id="button" onclick="redirectTo('login')">Login</button>
</header>

<section>
    <!-- Contenu principal, ici vous pouvez ajouter du contenu additionnel -->
</section>

<footer>
    <p>© 2023 BMC - Adresse de l'entreprise - Numéro de téléphone - Email</p>
</footer>

<script>
    function redirectTo(page) {
        // Rediriger en fonction de la page sélectionnée
        // Vous pouvez ajouter les URL appropriées pour chaque page
        switch (page) {
            case 'login':
                window.location.href = 'Login.html';
                break;
            default:
                console.error('Page non reconnue');
        }
    }
</script>

</body>
</html>
            
