{% load static %}
{% load group_tags %}

<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1" name="viewport"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<style>@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&family=Cinzel&family=Erica+One&family=Syncopate&family=Kanit:wght@800&family=Montserrat:wght@300&Oswald:wght@500&family=Ramabhadra&family=Work+Sans:wght@300&display=swap');</style>
<script crossorigin="anonymous" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" src="https://code.jquery.com/jquery-3.6.0.js"></script>
<title>Amazing</title>
<link rel="shortcut icon" href="{% static 'imgs/infini.png' %}" type="image/x-icon">
</head>
<body>
<script>
				$(window).bind('load',function(){
					$('#load').css({
						'opacity' : '0'
					});
					$('#load').css({
						'z-index' : '-1000'
					});
				});
				$(window).ready(function(){
					if ($(window).width() <= 768) {  
						$(".Tall").click(function(){
							$("#mtopbar").css({
								"left" : "-100vw"
							});
							$("#mb2").css({
								"color" : "white"
							});
							$("#mb1").css({
								"right" : "20px",
								"transform" : "rotate(0deg)"
							});
							$("#mb3").css({
								"left" : "20px",
								"transform" : "rotate(0deg)"
							});
							$("#mtopbar").css({
								"left" : "-100vw"
							});
						});
					}
				});
				$(window).resize(function(){
					if ($(window).width() <= 768) {
						$(".Tall").click(function(){
							$("#mtopbar").css({
								"left" : "-100vw"
							});
							$("#mb2").css({
								"color" : "white"
							});
							$("#mb1").css({
								"right" : "20px",
								"transform" : "rotate(0deg)"
							});
							$("#mb3").css({
								"left" : "20px",
								"transform" : "rotate(0deg)"
							});
							$("#mtopbar").css({
								"left" : "-100vw"
							});
						});
					}
				});
				$(window).on('scroll',function() {
					var scrollTop = $(window).scrollTop();
					if ( scrollTop > $('.filtre').offset().top ) { 
						$('#div4').css({
							'opacity' : '1',
							'left' : '10vw',
							'box-shadow' : '-50px 0px 0px rgba(26, 196, 187, 15%)'
						})
						$('#p1').css({
							'opacity' : '1'
						})
						$('#p1').css({
							'margin-bottom' : '0'
						})
					}
				});
				$(document).ready(function(){
					let bouton=0
					$("#left_arrow").click(function(){
						$("#img1").css({
							"width" : "700px",
							"height" : "400px",
							"left" : "calc(50% - 350px)",
							"opacity" : "1",
							"z-index" : "2"
						});
						$("#img2").css({
							"width" : "500px",
							"height" : "300px",
							"margin-left" : "57.5%",
							"opacity" : "0",
							"z-index" : "1"
						});
						$("#img3").css({
							"width" : "500px",
							"height" : "300px",
							"right" : "-15%",
							"opacity" : "0"
						});
						$("#right_arrow").css({
							"z-index" : "3"
						});
						$("#right_arrow2").css({
							"z-index" : "4"
						});
						$("#div3").css({
							"background-color" : "#3155ad"
						});
						$("#tl1-1").css({
							"transform" : "rotate3d(0,0,0,0deg)",
							"opacity" : "1"
						});
						$("#tl2-1").css({
							"transform" : "rotate3d(0,1,0,180deg)",
							"opacity" : "0"
						});
						$(".abc1").css({
							"opacity" : "1",
							"z-index" : "1"
						});
						$(".abc2").css({
							"opacity" : "0",
							"z-index" : "0"
						});
						$("#div4").css({
							"height" : "55vh"
						});
					});
					$("#left_arrow2").click(function(){
						$("#img1").css({
							"width" : "500px",
							"height" : "300px",
							"left" : "7.5%",
							"opacity" : "0",
							"z-index" : "1"
						});
						$("#img2").css({
							"width" : "700px",
							"height" : "400px",
							"margin-left" : "0",
							"opacity" : "1",
							"z-index" : "2"
						});
						$("#img3").css({
							"width" : "500px",
							"height" : "300px",
							"right" : "7.5%",
							"opacity" : "0",
							"z-index" : "1"
						});
						$("#left_arrow").css({
							"z-index" : "4"
						});
						$("#left_arrow2").css({
							"z-index" : "3"
						});
						$("#right_arrow").css({
							"z-index" : "4"
						});
						$("#right_arrow2").css({
							"z-index" : "3"
						});
						$("#div3").css({
							"background-color" : "#a2dae4"
						});
						$("#tl2-1").css({
							"transform" : "rotate3d(0,1,0,0deg)",
							"opacity" : "1"
						});
						$("#tl3-1").css({
							"transform" : "rotate3d(0,1,0,180deg)",
							"opacity" : "0"
						});
						$(".abc2").css({
							"opacity" : "1",
							"z-index" : "1"
						});
						$(".abc3").css({
							"opacity" : "0",
							"z-index" : "0"
						});
						$("#div4").css({
							"height" : "75vh"
						});
					});
					$("#right_arrow").click(function(){
						$("#img1").css({
							"width" : "500px",
							"height" : "300px",
							"left" : "-15%",
							"opacity" : "0",
							"z-index" : "1"
						});
						$("#img2").css({
							"width" : "500px",
							"height" : "300px",
							"margin-left" : "-57.5%",
							"opacity" : "0",
							"z-index" : "1"
						});
						$("#img3").css({
							"width" : "700px",
							"height" : "400px",
							"right" : "calc(50% - 350px)",
							"opacity" : "1",
							"z-index" : "2"
						});
						$("#left_arrow").css({
							"z-index" : "3"
						});
						$("#left_arrow2").css({
							"z-index" : "4"
						});
						$("#div3").css({
							"background-color" : "#393b40"
						});
						$("#tl2-1").css({
							"transform" : "rotate3d(0,1,0,180deg)",
							"opacity" : "0"
						});
						$("#tl3-1").css({
							"transform" : "rotate3d(0,0,0,0deg)",
							"opacity" : "1"
						});
						$(".abc3").css({
							"opacity" : "1",
							"z-index" : "1"
						});
						$(".abc2").css({
							"opacity" : "0",
							"z-index" : "0"
						});
						$("#div4").css({
							"height" : "55vh"
						});
					});
					$("#right_arrow2").click(function(){
						$("#img1").css({
							"width" : "500px",
							"height" : "300px",
							"left" : "7.5%",
							"opacity" : "0",
							"z-index" : "1"
						});
						$("#img2").css({
							"width" : "700px",
							"height" : "400px",
							"margin-left" : "0",
							"opacity" : "1",
							"z-index" : "2"
						});
						$("#img3").css({
							"width" : "500px",
							"height" : "300px",
							"right" : "7.5%",
							"opacity" : "0",
							"z-index" : "1"
						});
						$("#left_arrow").css({
							"z-index" : "4"
						});
						$("#left_arrow2").css({
							"z-index" : "3"
						});
						$("#right_arrow").css({
							"z-index" : "4"
						});
						$("#right_arrow2").css({
							"z-index" : "3"
						});
						$("#div3").css({
							"background-color" : "#a2dae4"
						});
						$("#tl2-1").css({
							"transform" : "rotate3d(0,1,0,0deg)",
							"opacity" : "1"
						});
						$("#tl1-1").css({
							"transform" : "rotate3d(0,1,0,180deg)",
							"opacity" : "0"
						});
						$(".abc2").css({
							"opacity" : "1",
							"z-index" : "1"
						});
						$(".abc1").css({
							"opacity" : "0",
							"z-index" : "0"
						});
						$("#div4").css({
							"height" : "75vh"
						});
					});
					$("#menu").click(function(){
						if (bouton==0) {
							$("#mb2").css({
								"position" : "absolute",
								"color" : "white"
							});
							$("#mb1").css({
								"right" : "10px",
								"transform" : "rotate(45deg)"
							});
							$("#mb3").css({
								"left" : "10px",
								"transform" : "rotate(-45deg)"
							});
							$("#mtopbar").css({
								"left" : "0"
							});
							bouton=1
						}
						else {
							$("#mb2").css({
								"color" : "rgb(38, 38, 38)"
							});
							$("#mb1").css({
								"right" : "20px",
								"transform" : "rotate(0deg)"
							});
							$("#mb3").css({
								"left" : "20px",
								"transform" : "rotate(0deg)"
							});
							$("#mtopbar").css({
								"left" : "-100vw"
							});
							bouton=0
						}
					});
				});
</script>

<div id="load"><div id="dot1"></div><div id="dot2"></div></div>
<div id="topbar"><b>
	<img href="{% url 'home:home' %}" id="logo" src="{% static 'imgs/infini.png' %}">
	<a id="Tlogo" href="{% url 'home:home' %}">AMAZING</a>
	<div id="menu">
	<h1 class="menubar" id="mb1">|</h1>
	<h1 class="menubar" id="mb2">|</h1>
	<h1 class="menubar" id="mb3">|</h1>
	</div>
	<div id="mtopbar">
		{% if user|has_group:"Admin" %}
			<a class="Tall" href="{% url 'home:gestion' %}">Gestion</a>
		{% endif %}
		{% if user|has_group:"Client" %}
			<a class="Tall" href="{% url 'home:ajout' %}">Ajout</a>
			<a class="Tall" href="{% url 'home:suivi' %}">Suivi</a>
		{% endif %}
		{% if user|has_group:"Transporteur" %}
		<a class="Tall" href="{% url 'home:transporteur' %}">Transporteur</a>
		{% endif %}
	</div>
	<div id="dlogin">
		{% if request.user.is_authenticated %}
			<a id="profil"><img src="{% static 'imgs/homme.png' %}" width="30px"></a>
			<div id="dj-connecté">Utilisateur : {{ user.username }}</div>
			<a class="Tlogin" id="Tlogin1" href="{% url 'home:login' %}">Se déconnecter</a>
		{% else %}
			<a class="Tlogin" id="Tlogin1" href="{% url 'home:login' %}">S'inscrire</a><a class="Tlogin" id="Tlogin2" href="{% url 'home:login' %}">Se connecter</a>
		{% endif %}
	</div></b>
</div>
<div id="div1">
<div id="div2">
	<div id="caroussel">
		<div class="dj-suivi-exp-dest">
		<h1 class="dj-titre-2">Produits expédiés :</h1>
        {% for produits in product_object %}
            {% for expéditeur in produits.expéditeur.all %}
                {% if expéditeur.account == request.user %}
					<div class="dj-produit-map">
						<div class="dj-produits-suivi">
							<img src=" {{ MEDIA_URL }} ../{{ produits.image }}" class="dj-img-gestion">
							<h1 class="dj-produits-légende">{{ produits.name }}</h1>
						</div>
							<div style="margin-top: 20px;">
								<h1 class="dj-produits-infos">Emballé le : {% if produits.emballé != None %}{{ produits.emballé }}{% endif %}</h1>
								<h1 class="dj-produits-infos">Arrivée au dépôt le : {% if produits.arrivée_dépôt != None %}{{ produits.arrivée_dépôt }}{% endif %}</h1>
								<h1 class="dj-produits-infos">Départ du dépôt le : {% if produits.départ_dépôt != None %}{{ produits.départ_dépôt }}{% endif %}</h1>
								{% for transporteur in produits.transporteur.all %}
								<h1 class="dj-produits-infos">Transporteur choisi : {{ transporteur.account }}</h1>
								{% endfor %}
								<h1 class="dj-produits-infos">Date de livraison : {% if produits.date_livraison != None %}{{ produits.date_livraison }}{% endif %}</h1>
								<h1 class="dj-produits-infos">Produit reçu le : {% if produits.reçu_le != None %}{{ produits.reçu_le }}{% endif %}</h1>
							</div>
						<span id="latitude" style="display:none;">{{ produits.latitude }}</span>
						<span id="longitude" style="display:none;">{{ produits.longitude }}</span>
					</div>
					<iframe style=" margin-left: 10px; width: calc(100% - 20px);" height="500px" style="border: 1px solid black" src="https://www.openstreetmap.org/export/embed.html?bbox=3.157281875610352%2C43.318621193001704%2C3.3006191253662114%2C43.37467191557141&amp;layer=mapnik&amp;marker={{produits.latitude}}%2C{{produits.longitude}}"></iframe>
				{% endif %}
            {% endfor %}
		{% endfor %}
		</div>
		<div class="dj-suivi-exp-dest">
		<h1 class="dj-titre-2">Produits destinés :</h1>
        {% for produits in product_object %}
            {% for destinataire in produits.destinataire.all %}
                {% if destinataire.account == request.user %}
					<div class="dj-produit-map">
						<div class="dj-produits-suivi">
							<img src=" {{ MEDIA_URL }} ../{{ produits.image }}" class="dj-img-gestion">
							<h1 class="dj-produits-légende">{{ produits.name }}</h1>
						</div>
							<div style="margin-top: 20px;">
								<h1 class="dj-produits-infos">Emballé le : {% if produits.emballé != None %}{{ produits.emballé }}{% endif %}</h1>
								<h1 class="dj-produits-infos">Arrivée au dépôt le : {% if produits.arrivée_dépôt != None %}{{ produits.arrivée_dépôt }}{% endif %}</h1>
								<h1 class="dj-produits-infos">Départ du dépôt le : {% if produits.départ_dépôt != None %}{{ produits.départ_dépôt }}{% endif %}</h1>
								{% for transporteur in produits.transporteur.all %}
								<h1 class="dj-produits-infos">Transporteur choisi : {{ transporteur.account }}</h1>
								{% endfor %}
								<h1 class="dj-produits-infos">Date de livraison : {% if produits.date_livraison != None %}{{ produits.date_livraison }}{% endif %}</h1>
								<h1 class="dj-produits-infos">Produit reçu le : {% if produits.reçu_le != None %}{{ produits.reçu_le }}{% endif %}</h1>
							</div>
						<span id="latitude" style="display:none;">{{ produits.latitude }}</span>
						<span id="longitude" style="display:none;">{{ produits.longitude }}</span>
					</div>
					<iframe style=" margin-left: 10px; width: calc(100% - 20px);" height="500px" style="border: 1px solid black" src="https://www.openstreetmap.org/export/embed.html?bbox=3.157281875610352%2C43.318621193001704%2C3.3006191253662114%2C43.37467191557141&amp;layer=mapnik&amp;marker={{produits.latitude}}%2C{{produits.longitude}}"></iframe>
					<form method="POST" action="" style="height: 75px;">
						{% csrf_token %}
						<input name="produit_id" value="{{ produits.id }}" type="hidden">
						<button>Produit reçu</button>
					</form>
				{% endif %}
            {% endfor %}
        {% endfor %}
		</div>
	</div>
</div>

<footer>
  <p>&copy; 2023 AMAZING. Tous droits réservés.</p>
</footer>
</div>
</body>
</html>


<script>
</script>